.category-wrapper {
  display: flex;
}

.category-info {
  text-align: center;
  margin-bottom: 1.5em;
}

.cat-subcategoryList {
  width: 23em;
  /* padding-left: 3em; */
  margin-right: 0;
  
}

.cat-subcategoryList a {
  color: white;
  
}

.subcategory{
  border: 0.5px solid black;
  text-align: center;
  padding: 5px;
  margin: 10px;
  left: 0;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* background: rgba(128, 7, 7, 0.4);  */
  border-radius: 2px;
  background: linear-gradient(to right,  rgba(219, 199, 199, 0.4), rgba(119, 21, 21, 0.4) );
  
}

.subcategory:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
  }

.cat-subcategoryList li {
  list-style: none;
  padding-bottom: 0.8em;
}

.cat-subcategory-cards .container {
  display: flex;
  padding-left: 6em;
}


body,
html {
  height: 100%;
  background: linear-gradient(to right, #dfdfdf , #757575, #dfdfdf );
}