
.serviceScreen-details {
  /* padding-left: 0;
  max-width: 100em;
  min-width: 20em; */
  height: 50em;
}


.serviceScreen-bg{
  background: linear-gradient(to bottom, #dfdfdf , #757575, #dfdfdf );
}

/* .serviceScreen-row{
  padding-left: 100px;
} */