/*Title*/
.sub_dropdown_title {
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0px;
  margin-top: 10px;
  border: 1px solid transparent;
  text-overflow: visible;
  border-bottom: 3px solid transparent;
}

/*The dropdown menu*/
.sub_dropdown_menu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 5;
  color: gray;
  border-left: 0.5px solid #cccccc;
  border-right: 0.5px solid #cccccc;
  border-bottom: 0.5px solid #cccccc;
  font-size: 16px;
  margin-top: 2.6em;
  max-height: 200px;
  min-width: 160px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sub_dropdown_menu:active {
  background-color: #fff;
}
/*The items in dropdown menu*/
.sub_item a {
  color: gray;
  font-weight: 350;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: white;
  color: gray;
}

/*When we hover the items in the dropdown menu*/
.sub_dropdown_menu .sub_item:hover {
  color: gray;
}

.sub_dropdown_menu .sub_item:active {
  background-color: transparent;
}

/*The dropdown menu after hovering*/
#sub_dropdown:hover .sub_dropdown_menu {
  display: block;
}

#sub_dropdown .sub_dropdown_title a {
  color: rgb(255, 255, 255);
  border: none;
  text-decoration: none;
}

#sub_dropdown:hover .sub_dropdown_title {
  text-decoration: none;
  border-bottom: 3px solid #5a101d;
}
/*The sub_navbar*/
.sub_navbar {
  border-top: 0.5px solid #cccccc;
  border-bottom: 0.5px solid #cccccc;
  /* margin-bottom: 1.5em; */
  padding: 0;
  white-space: nowrap;
  position: inherit;
  background: linear-gradient(to right, #817e92 , #0c010a );
  overflow-y: hidden;
  overflow-x: scroll; 
  /* display: flex; */
  z-index: 5;
}

/* .sub_navbar::-webkit-scrollbar {
  width: 10px;
} */

.sub_navbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.sub_navbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.sub_navbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(128, 7, 7, 0.4); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.sub_navbar::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(233, 216, 216, 0.8); 
}





#sub_dropdown:last-child .sub_dropdown_menu {
  right: 0;
}
#sub_dropdown:nth-child(8) .sub_dropdown_menu {
  right: 0;
}
#sub_dropdown {
  margin-bottom: 0em;
}
